.student-menu {
  margin-left: 300px;
}

html,
body {
  width: 100%;
  height: 100%;
}

input[type="checkbox"] {
  box-sizing: border-box;
  position: absolute;
  display: none;
}

input[type="checkbox"]+label {
  box-sizing: border-box;
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.3em;
  margin-bottom: 8px;
}

input[type="checkbox"]+label:before {
  border-radius: 2px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  transition: border 0.2s ease;
  border: 1px solid rgb(214, 216, 218);
  background: transparent;
}

input[type="checkbox"]+label:after {
  box-sizing: border-box;
  position: absolute;
  content: "";
  transition: all 0.2s ease;
  top: 2px;
  left: 7px;
  width: 6px;
  height: 12px;
  transform: scale(0) rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-top: 0;
  border-left: 0;
}

input[type="checkbox"]:checked+label:after {
  transform: scale(1) rotate(45deg);
}

input[type="checkbox"][disabled],
input[type="checkbox"][disabled]+label {
  cursor: not-allowed;
}

/* 去除鼠标移到不可选中的勾选框上的默认事件 */

input[type="checkbox"][disabled]+label:before {
  border-color: rgb(214, 216, 218);
}

/* 不可选中的勾选框变暗 */

input[type="checkbox"]:checked[disabled]+label:before {
  border: rgb(102, 172, 232);
  background: rgb(102, 172, 232);
}

/* ignore */

section {
  padding: 5%;
  border-radius: 10px;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, .1);
  background: #fff;
  position: relative;
  transition: 0.6s;
  transition-timing-function: ease-in;
}

body {
  display: flex;
  background: #eee;
  align-items: center;
  justify-content: center;
  padding: 5%;
  font-family: system-ui;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: rgba(226, 221, 221, 0.87);
}

.close:hover {
  cursor: pointer;
}

.perfectInformation {
  top:30px;
  display: none;
}

.payCost {
  display: none;
}

.chooseDormitories {
  display: none;
}

.queryInformation {
  display: none;
}

.fa-times {
  font-size: 22px;
}

.logo {
  height: 60px;
  width: 240px;
  margin: 0;
  padding: 0;
  padding: 4px;
}
.perfectInformationSubmit {
  display: none;
}
